%table.table.table-condensed
  %tr{align: "center"}
    %td.success
      %h3= @information.title.html_safe
  %tr
    %td= simple_format @information.content

= link_to 'Edit', edit_admin_inforamtion_path(@information)
\|
= link_to_function "Back", "history.back()"
