- if @music.errors.any?
  = render partial: 'alert_error', locals: { model: @music }
= form_for :music, method: 'post', url: me_user_musics_path, html: { class: 'form-horizontal', role: 'form' } do |t|
  %h2 Create new music
  = render partial: 'form', locals: { t: t}
  .form-group
    .col-sm-offset-3
      = t.submit 'Submit!', class: ['btn', 'btn-md', 'btn-primary']

