%h1 Information List
%table.table.table-condensed
  %tr.info
    %th title
    %th content
    %th updated_at
  - @informations.try(:each) do |infor|
    %tr
      %td= utf8(infor.title)
      %td= short_utf8_html(infor.content)
      %td= infor.created_at.to_s(:db)

