%table.table.table-condensed
  %tr{align: "center"}
    %td.success
      %h3= utf8_html(@information.title)
  %tr
    %td= simple_format utf8(@information.content)

= link_to_function "Back", "history.back()"
